---
layout: layouts/base.njk
---

<div class="container">
  <h1 class="sr-only">Subsetting.xyz</h1>
  <div class="glyphs">
    <div class="glyph" aria-hidden="true"><span>A</span></div>
    <div class="glyph removed" aria-hidden="true"><span>B</span></div>
    <div class="glyph" aria-hidden="true"><span>C</span></div>
    <div class="glyph" aria-hidden="true"><span>D</span></div>
    <div class="glyph removed" aria-hidden="true"><span>E</span></div>
    <div class="glyph removed" aria-hidden="true"><span>F</span></div>
  </div>
  <section>
    <h2>Which type foundries support font subsetting?</h2>
    <p>
      Subsetting is the process of removing characters from a font to reduce its
      file size. Fonts often include letters and symbols for multiple languages.
      While removing unused characters from a font can substantially improve
      performance,
      <strong
        >many type foundries have restrictive licenses that prevent editing font
        files</strong
      >. Use this site to find type foundries that support font subsetting.
    </p>
    <div class="table-container">
      <table>
        <tr>
          <th>Foundry</th>
          <th>Subsetting</th>
          <th>License</th>
          <th></th>
        </tr>
        {% for foundry in foundries %}
        <tr class="foundry">
          <td class="foundry-name">
            <a href="{{foundry.licenseUrl}}">{{foundry.name}}</a>
          </td>
          <td class="foundry-support">
            {% set foo %}{{ foundry.support }}{% endset %}
            <div class="foundry-supportwrapper">
              {% include "icon.njk"%} {{foundry.support}}
            </div>
          </td>
          <td class="foundry-license">
            {{foundry.license}}
            <a class="foundry-licenselink" href="{{foundry.licenseUrl}}"
              >View license</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </section>

  <section>
    <h3>Resources</h3>
    <p>Ready to get started with font subsetting?</p>
    <ul>
      <li>
        <a href="https://fonts.google.com/knowledge/glossary/subsetting"
          >Subsetting</a
        >—Brief description of subsetting by Google Fonts
      </li>
      <li>
        <a href="https://everythingfonts.com/subsetter">Font Subsetter</a
        >—Web-based subsetting tool
      </li>
      <li>
        <a href="https://github.com/fonttools/fonttools">fonttools</a
        >—Python-based subsetting tool
      </li>
    </ul>
  </section>

  <section>
    <h3>Q&A</h3>
    <h4>How much does this matter?</h4>
    <p>
      The change in file size depends on how much you remove. When I’ve created a subset for English, a decrease from 50KB to 15KB has been typical.
    </p>
    <h4>What if I need those other characters sometimes?</h4>
    <p>
      If you might need to support a different language on one page, or your website will support multiple languages, you can create multiple subsets. Use the <a href="https://css-tricks.com/almanac/properties/u/unicode-range/">unicode-range</a> property to tell the browser which subset to load.
    </p>
    <h4>What about Google Fonts?</h4>
    <p>
      Google Fonts sources from multiple foundries, and licenses vary. Most use
      the <a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">Open Font License</a>, which supports subsetting.
    </p>
  </section>

  <section>
    <h3>Feedback</h3>
    <p>
      Does something look wrong? Want to add your type foundry? Send me an
      <a href="mailto:contact@subsetting.xyz">email</a> or post a
      <a href="https://github.com/jfrankl/subsetting.xyz/issues">Github issue</a
      >.
    </p>
  </section>
</div>

<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      Built by
      <a href="https://frankl.org">Jeff Frankl</a>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="mailto:contact@subsetting.xyz">Contact</a></li>
        <li><a href="https://github.com/jfrankl/subsetting.xyz">Github</a></li>
      </ul>
    </div>
  </div>
</footer>
