---
layout: layouts/base.njk
---

<div class="container">
  <h1 class="sr-only">Subsetting.xyz</h1>
  {% include "graphic.njk" %}
  <section>
    <h2>Which type foundries support font subsetting?</h2>
    {% renderFile "./_includes/table-intro.md" %}
    <div class="table-container">
      {% include "table.njk" %}
    </div>
  </section>
  <section>
    <h3>Q&A</h3>
    {% renderFile "./_includes/q-and-a.md" %}
  </section>
  <section>
    <h3>Feedback</h3>
    {% renderFile "./_includes/feedback.md" %}
  </section>
</div>

{% include "footer.njk" %}