<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      Built by
      <a href="https://frankl.org">Jeff Frankl</a>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="mailto:contact@subsetting.xyz">Contact</a></li>
        <li><a href="https://github.com/jfrankl/subsetting.xyz">Github</a></li>
      </ul>
    </div>
  </div>
</footer>