<div class="glyphs">
    <div class="glyph" aria-hidden="true"><span>A</span></div>
    <div class="glyph removed" aria-hidden="true"><span>B</span></div>
    <div class="glyph" aria-hidden="true"><span>C</span></div>
    <div class="glyph" aria-hidden="true"><span>D</span></div>
    <div class="glyph removed" aria-hidden="true"><span>E</span></div>
    <div class="glyph removed" aria-hidden="true"><span>F</span></div>
</div>