<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subsetting.xyz — Type foundries that allow font subsetting</title>
    <meta
      name="description"
      content="Removing unused characters from a font can improve website performance. Use this site to find type foundries that support font subsetting."
    />
    <link
      rel="preload"
      href="/fonts/hex-franklin-var.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <!-- INLINE CSS-->
  </head>
  <body id="body">
    <main>{{ content | safe }}</main>
  </body>
</html>
