<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Which type foundry licenses support font subsetting? | subsetting.xyz</title>
    <meta
      name="description"
      content="Which type foundry licenses support font subsetting"
    />
    <!-- INLINE CSS-->
  </head>
  <body id="body">
    <main>{{ content | safe }}</main>
  </body>
</html>
